@import url(https://fonts.googleapis.com/css?family=Noto+Sans+SignWriting);
@import url(https://fonts.googleapis.com/css?family=Rubik);

/*General Styles*/

html {
    font-family: "Noto Sans SignWriting", sans-serif;
}

/*Layout*/

.container {
    display: grid;


    grid-template-columns: 0.5fr 50px repeat(4, 100px) 50px 50px 0.5fr;
    grid-template-rows: 50px 50px 200px 50px repeat(5, 100px) 50px;
    grid-template-areas:
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . s s s s . . . "
    ". . . . . . . . ."
    ". . percent power clear back . . ."
    ". . seven eight nine divide . . ."
    ". . four five six multiply . . ."
    ". . one two three minus . . ."
    ". . decimal zero equals plus . . ."
    ". . f f f f . . .";
}

.back {
    grid-column: 2 / 8;
    grid-row: 2 / 11;
}

.footer, .zero, .one, .two, .three, .four, .five, 
.six, .seven, .eight, .nine, .decimal, .equals, 
.add, .subtract, .multiply, .divide, .percent, .squared, .clear, .backspace, .backspace-pad, .footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    grid-area: f;
}

.screen {
    grid-area: s;
}

.zero {
    grid-area: zero;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

.seven {
    grid-area: seven;
}

.eight {
    grid-area: eight;
}

.nine {
    grid-area: nine;
}

.decimal {
    grid-area: decimal;
}

.equals {
    grid-area: equals;
}

.add {
    grid-area: plus;
}

.subtract {
    grid-area: minus;
}

.multiply {
    grid-area: multiply;
}

.divide {
    grid-area: divide;
}

.percent {
    grid-area: percent;
}

.squared {
    grid-area: power;
}

.clear {
    grid-area: clear;
}

.backspace {
    grid-area: back;
}

button {
    height: 80px;
    width: 80px;
}
 
/*Text*/

button {
    font-size: 2.4em;
    color: white;
}

.footer p{
    font-family: "Rubik", sans-serif;
    font-size: 1.5em;
    line-height: 100px;
    color: white;
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
}

/*Graphics*/

html {
    background-color: #080808;
}

button {
    background-color: rgb(85, 82, 82);
    box-shadow: 0 5px rgb(22, 22, 22);
    border: none;
    border-radius: 50%;
}

.clear-pad, .backspace-pad {
    background-color: rgb(207, 10, 10);
}

.add-pad, .subtract-pad, .multiply-pad, 
.divide-pad, .percent-pad, .squared-pad {
    background-color: rgb(68, 64, 64);
}

button:hover {
    background-color: rgb(73, 70, 70);
    cursor: pointer;
}

:where(.add-pad, .subtract-pad, .multiply-pad, 
.divide-pad, .percent-pad, .squared-pad):hover {
    background-color: rgb(78, 75, 75);
}

.clear-pad:hover, .backspace-pad:hover {
    background-color: rgb(177, 6, 6);
}

button:active {
    background-color: rgb(73, 70, 70);
    transform: translateY(3px);
    box-shadow: 0 2px rgb(18, 18, 18);
}

.back {
    background-color: #101010;
    box-shadow: 20px 20px 5px black;
    border-radius: 15px;
}

.screen {
    background-color: rgb(20, 20, 20);
    border-radius: 15px;
}

.footer {
    background-color: inherit;
    box-shadow: none;
}

.external-link::after {
    content: "";
    background-image: url(../images/external-link24.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 24px;
    height: 24px;
}